bindings {
  t {
    description: Tab Navigation...
    bindings {
      j {actionId: NextTab, description: Next Tab}
      k {actionId: PreviousTab, description: Previous Tab}
      c {actionId: CloseContent, description: Close}
      A {actionId: CloseAllEditors, description: Close All}
      C {actionId: CloseAllEditorsButActive, description: Close Other}
      r {actionId: ReopenClosedTab, description: Reopen Closed Tab}
      l {actionId: Back, description: Back}
      h {actionId: Forward, description: Forward}
    }
  }
  l {
    description: LSP...
    bindings {
      a {actionId: ShowIntentionActions, description: Code Actions}
      c {actionId: CommentByLineComment, description: Comment}
      d {actionId: GotoDeclaration, description: Go to Definition}
      u {actionId: ShowUsages, description: Show Usages}
      f {actionId: ReformatCode, description: Reformat code}
      m {actionId: GotoImplementation, description: Go to Implementation Method}
      M {actionId: GotoSuperMethod, description: Go to super Method}
      s {actionId: FileStructurePopup, description: Jump in Structure}
      j {actionId: QuickJavaDoc, description: Quick javadoc popup}
      o {actionId: OptimizeImports, description: Optimize imports}
      l {actionId: RefactoringMenu, description: Refactor this...}
      t {actionId: GoToTest, description: Go To Test}
      r {actionId: RenameElement, description: Rename}
      g {actionId: Generate, description: Generate...}
      e {actionId: GoToNextError, description: Go to next Error}
      E {actionId: GotoPreviousError, description: Go to previous Error}
      i {
        description: Introduce...
        bindings {
          v {actionId: IntroduceVariable, description: Variable}
          m {actionId: ExtractMethod, description: Method}
          c {actionId: IntroduceConstant, description: Constant}
        }
      }
    }
  }
  f {
    description: Find...
    bindings {
      c {actionId: GotoClass, description: Go To Class}
      e {actionId: GotoFile, description: Go To File}
      w {actionId: GotoSymbol, description: Go To Symbol}
      a {actionId: GotoAction, description: Go To Actions}
      f {actionId: SearchEverywhere, description: Search Everywhere}
      r {actionId: RecentFiles, description: Recent Files}
      R {actionId: RecentChangedFiles, description: Recent Changed Files}
      l {actionId: RecentLocations, description: Recent Locations}
    }
  }
  e {
    description: Explorer...
    bindings {
      e {actionId: SelectInProjectView, description: Show current file}
    }
  }
  r {
    description: Run...
    bindings {
      r {actionId: RunAnything, description: Run Anything}
      c {actionId: RunClass, description: Run Test Class}
      t {actionId: RerunTests, description: Rerun Tests}
      s {actionId: ChooseRunConfiguration, description: Choose Run Configuration}
    }
  }
  g {
    description: Git...
    bindings {
      b {actionId: Git.Branches, description: Show Branches}
      c {actionId: Vcs.Show.Local.Changes, description: Show Changes}
      f {actionId: Git.Fetch, description: Fetch}
      p {actionId: Git.Pull, description: Pull}
      P {actionId: Git.Push, description: Push}
      r {actionId: Git.Rebase, description: Rebase}
      s {actionId: Git.Stash, description: Stash}
      S {actionId: Git.Unstash, description: Stash}
      l {actionId: Vcs.Show.Log, description: Show Log}
    }
  }
  d {
    description: Debug...
    bindings {
      b {actionId: ToggleLineBreakpoint, description: Line Breakpoint}
      l {actionId: ViewBreakpoints, description: List Breakpoints}
    }
  }
  o {
    description: Open Tool...
    bindings {
      b {actionId: ActivateBuildToolWindow, description: Build}
      p {actionId: ActivateProjectToolWindow, description: Project}
      r {actionId: ActivateRunToolWindow, description: Run}
      t {actionId: ActivateTerminalToolWindow, description: Terminal}
      g {actionId: Vcs.Show.Log, description: Vcs}
    }
  }
  a {
    description: Ataman
    bindings {
      c {actionId: OpenAtamanConfigAction, description: Open ~/.atamanrc.config}
      r {actionId: ReloadAtamanConfigAction, description: Reload from ~/.atamanrc.config}
    }
  }
}
